body{
  background: rgb(245,245,245);
  color: black;
  font-size: 15px;
  font-family: Roboto;
  text-align: center;
}
h1{
  text-align: center;
  font-family: Roboto;
  color: red;
  font-weight: bolder;
  font-size: 25px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: brown;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
a {
  text-align: center;
    text-decoration: none;
    color:lightgrey;
  font-size: 35px;

}
a:hover {
  text-decoration: none;
  color: white;
}

p{
 margin: 0 0 10px;
 }

#banner{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1453791052107-5c843da62d97?dpr=1&auto=compress,format&fit=crop&w=2550&h=&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#gif{
text-align: center;
background-image: url("https://cdn.dribbble.com/users/99875/screenshots/2002428/jurassic-park2.gif");
background-size: cover;
padding: 30vw 0;
color: white;
overflow-y: hidden;
}

#banner h1{
color: white;
font-size: 50px;
font-weight: bolder;
text-shadow: 1px 1px 5px black;
padding-top: 30px;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 1px 1px 5px black;
  padding-bottom: 40px;
}

#footer{
  padding-top: 15px;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  padding: 50px;
  font-weight: lighter;
}

.cta{
  background-color: rgb(220, 220, 220);
  padding: 50px;
  width: 100%;
}

.container{
  width: 100%;
}

.form-margin {
  margin-top: 20px;
}

#wufoo-q1n7r5tj1kvruqf{
  padding: 50px 30px;
}


#footer a {
padding: 30px;
background: rgb(30, 30, 30);
  background-size: cover;
color: lightgrey;
}

#footer a:hover {
  color: white;
}